body {
    color: rgb(253, 0, 0);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Londrina Sketch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(252, 248, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(8, 252, 0);
}

section {
    background: rgb(1, 238, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}